@import './../../../styles/settings.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: $color-main;
    padding: 0 40px;
    font-family: $font-header;

    &__logo {
        height: 1.5rem;
    }

    &__navbar {
        display: flex;
        gap: 40px;
        align-items: center;

        &__cartIcon {
            color: $color-dark;
            font-size: 1.5rem;
            transition: $transition-color;
            &:hover {
                color: $color-primary;
            }
            &___active {
                @extend .header__navbar__cartIcon;
                color: $color-primary;
            }
        }
    }
}