@import '../../../styles/settings.scss';

.gallery {
    max-width: 300px;

    &__img {
        width: 100%;
    }

    &__min {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4px;

        &___image {
            width: 100%;
        }
    }
}

@media (min-width: 37.5rem) {

    .gallery {
        max-width: 500px;

        &__min {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 75rem) {

    .gallery__min {
        grid-template-columns: repeat(4, 1fr);
    }
}