@import '../../../styles/settings.scss';

.orderForm {
    margin: 30px;
    text-align: center;
        
    &__form {

        &___delivery {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 5px;
    
            &___input {
                display: flex;
                align-items: baseline;
                gap: 7px;
            }
        }
    
        &___address {
            text-align: center;
    
            &___input {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;
            }
        }
    
    }

}