@import '../../../styles/settings.scss';

.form {
    margin: 0 30px;
    text-align: center;
        
    &__delivery {
    
        &___input {
            display: flex;
            align-items: baseline;
            gap: 7px;
            padding-top: 3px;
            justify-content: center;
        }

        &___price {
            display: flex;
            justify-content: flex-end;
            font-size: 1.2rem;
            font-weight: $bold;    
        }
    }
    
    &__address {
        margin: 40px 0;

        &___input {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 450px;
            margin: 0 auto 20px;
        }
    }
}