@import '../../../styles/settings.scss';

.home {
    display: grid;
    justify-content: center;

    &__elements {
        display: grid;
        gap: 50px;
    }
}

@media (min-width: 37.5rem) {

    .home__elements {
        grid-template-columns: repeat(2, 1fr);
    }
}