@import '../../../styles/settings.scss';

.order {
    display: flex;
    flex-direction: column;

    &__title {
        margin-top: 0;
        text-align: center;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            border: 1px solid;
            width: 200px;
            bottom: -7px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__product {
        display: grid;
        grid-template-columns: 1fr;
        margin: 30px 30px 0;
        border-bottom: solid 1px $color-dark;
        padding-bottom: 10px;

        &___detail {
            margin: 0;
        }

        &___property {
            font-weight: $bold;
        }

        &___comment {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            gap: 3px;
        }
    }

    &__price {
        display: flex;
        justify-content: flex-end;
        padding: 20px 30px 0 0;
        font-size: 1.2rem;
        font-weight: $bold;
    }
}

@media (min-width: 37.5rem) {

    .order {
        &__title {
            &:after {
                width: 450px;
            }
        }
    }
}

@media (min-width: 62rem) {

    .order {
        &__product {
            grid-template-columns: 1fr .3fr .2fr .5fr .4fr;
            align-items: start;
            gap: 20px;
        }    
    }
}