@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-light;
    color: $color-dark;
    font-family: $font-text;
}

main {
    max-width: 1200px;
    margin: 40px auto;
}