$color-main: #060606;
$color-primary: #ffffff;
$color-secondary: #fefefe;
$color-dark: #808080;
$color-light: #fefefe;

$font-text: "Nunito", sans-serif;
$font-header: "Roboto Mono", monospace;

$transition-color: color .15s linear;