$color-main: #749C75; //green
$color-primary: #A96E5E; //pink
$color-secondary: #904C25; //brown
$color-dark: #23231A; //semi black
$color-light: #F2EFE9; //semi white

$font-text: "Nunito", sans-serif;
$font-header: "Roboto Mono", monospace;